<template>
  <div class="grid-app">
    <h1>{{ title }}</h1>
    <form id="search">
      검색
      <input type="text" v-model="searchQuery" name="query" />
    </form>
    <div class="center">
      <grid
        :datas="gridData"
        :columns="gridColumns"
        :search="searchQuery">
      </grid>
    </div>
  </div>
</template>

<script>
import Grid from './Grid.vue'

export default {
  name: 'GridApp',
  components : { Grid },
  data () {
    return {
      title: '그리드 ',
      searchQuery: '',
      gridColumns: ['name', 'power'],
      gridData: [
          { name: 'Chuck Norris', power: Infinity },
          { name: 'Bruce Lee', power: 9000 },
          { name: 'Jackie Chan', power: 7000 },
          { name: 'Jet Li', power: 8000 }
      ]
    }
  }
}
</script>

<style scoped>

  .center {
    text-align: center;
    display: inline-block;
  }

</style>
