<template>
  <div class="grid">
    <table>
      <thead>
        <tr>
          <th v-for="key in columns"
              :class="{active: sortKey === key }"
              @click="sortBy(key)"
          > {{key}} <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'desc' "></span></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="entry in filterData">
          <td v-for="name in columns">{{entry[name]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>


export default {
  name: 'Grid',
  props: {
      datas: Array,
      columns: Array,
      search: String
  },
  data () {
      let sortOrders = {};
      this.columns.forEach(function (key) {
          sortOrders[key] = 1
      });
      return {
          sortKey: '',
          sortOrders: sortOrders
      }
  },
  computed: {
      filterData: function(){
        let datas = this.datas;
        let search = this.search.toLowerCase();
        let columns = this.columns;

        let sortKey = this.sortKey;
        let sortOrdery = this.sortOrders[sortKey] || 1;

        if(search){
          datas = datas.filter(function(row){
            let flag = false;
            for( name in columns){
              flag = String(row[columns[name]]).toLowerCase().indexOf(search) !== -1;
              if(flag === true){
                  return flag;
              }
            }
            return flag;
          });
        }

        if(sortKey){
          datas = datas.sort(function(a,b){
            a = a[sortKey];
            b = b[sortKey];
            return (a === b ? 0 : a > b ? 1 : -1) * sortOrdery;
          });
        }
        return datas;
      }
  },
  methods: {
      sortBy : function(key){
          this.sortKey = key;
          this.sortOrders[key] = this.sortOrders[key] * -1;
      }
  }
}
</script>

<style scoped>
  body {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    color: #444;
  }

  table {
    border: 2px solid #42b983;
    border-radius: 3px;
    background-color: #fff;
  }

  th {
    background-color: #42b983;
    color: rgba(255,255,255,0.66);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  td {
    background-color: #f9f9f9;
  }

  th, td {
    min-width: 120px;
    padding: 10px 20px;
  }

  th.active {
    color: #fff;
  }

  th.active .arrow {
    opacity: 1;
  }

  .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
  }

  .arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
  }

  .arrow.desc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
  }

</style>
