<template>
  <div class="basic-bind">
    <ul>
      <li><button @click="changeLanguage()" > 언어 변경</button><h1>{{name}} </h1></li>
      <li>{{ new Date().getTime() }}</li>
      <li><span><img :src='isVueUse ? vueImg : ngImg'></span></li>
    </ul>
    <br>
    <h2>오늘 할 일</h2>
    <ul>
      <li v-for="(todo, index) in todos">{{index+1}}: {{todo.text}}</li>
    </ul>
  </div>

</template>

<script>
  export default {
      name:'BasicBind',
      data() {
          return {
            name : 'Vue',
            isVueUse: true,
            vueImg : 'https://cdn-images-1.medium.com/max/1200/1*yeAO-nwsAqnzr7k-zoDkoQ.png',
            ngImg : 'https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/300/thumb/angular2.png',
            todos : [
                { text : '개발환경구축'},
                { text : '라우터 생성'},
                { text : '기능 개발 작업'},
            ]
          }
      },
      methods:{
          changeLanguage:function(){
              this.isVueUse = !this.isVueUse;
              if(this.isVueUse){
                  this.name = 'Vue'
              }else{
                  this.name = 'Angular2'
              }
          }
      }
  }
</script>

<style scoped>
  img {
    width : 200px;
    height: 200px;
  }

</style>