<template>
  <div class="basic" v-cloak>
      <ul>
        <li>{{msg}}<button v-on:click="changeVisible()">클릭이벤트</button> </li>
        <li><span v-once>초기값 {{visible}} </span></li>
        <li><span >현재값 {{visible}} </span></li>
        <li class="result">
          <span  v-if="visible === true">visble 값이 True입니다</span>
          <span v-else>visble 값이 Flase입니다</span>
        </li>
        <li><span v-show="visible" v-text="visibleText"></span></li>
        <li><span v-show="visible" v-html="visibleText"></span></li>
      </ul>
    </div>
</template>

<script>
export default {
  name: 'Basic',
  data() {
      return {
          msg: '컴포넌트 데이터바인딩',
          visibleText: '<i>토글에 의한 텍스트입니다</i>',
          visible: true
      }
  },

  methods:{
      changeVisible:function(){
          this.visible = !this.visible
      }
  }
}
</script>

<style scoped>
  li.result > span {
    color : red;
  }

  [v-cloak] {
    display: none;
  }

</style>
