<template>
    <div class="model-and-event">
        <ul>
            <li><input type="text" v-model="name" /> 이름유무<input type="checkbox" v-model="viewName"/>{{info}}</li>
            <li><h2 v-if="viewName"> {{name}}</h2> </li>
            <li><h2 v-if="viewName">뒤집은 이름 : {{reversedMessage}}</h2></li>
            <li>
                <h4>카운터 : {{number}}</h4>
                <button v-on:click="add()">증가</button>
                <button @click="sub()">감소</button>
            </li>
        </ul>
    </div>
</template>
<script>
    import _ from 'lodash'
    export default {
        name:'ModelAndEvent',
        data() {
            return {
                name: '이신일',
                info: '',
                viewName: true,
                number : 0
            }
        },
        computed:{
            reversedMessage: function(){
                return this.name.split('').reverse().join('')
            }
        },
        watch: {
            name: function (newName) {
                this.info = '입력중...';
                this.changeName();
            }
        },
        methods:{
            add: function(){
                this.number++;
            },
            sub:function(){
                this.number--;
            },
            changeName : _.debounce(
                function () {
                    const vm = this;
                    vm.info = '변경완료';
                },
                500
            )
        }
    }
</script>

<style scoped>

</style>