<template>
  <div id="app">
    <p>
      <router-link class="router" to="/">시작화면</router-link>
      <router-link class="router" to="/basic">기본 문법</router-link>
      <router-link class="router" to="/basicbind">기본 문법2</router-link>
      <router-link class="router" to="/modelAndEvent">양방향 바인딩 및 이벤트</router-link>
      <router-link class="router" to="/grid">그리드 데모</router-link>
      <router-link class="router" to="/tree">트리구조 데모</router-link>
    </p>
    <hr>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}

body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}

div {
  padding: 5px;
}

ul > li {
  list-style: none;
}

.router {
  border: 1px solid #42b983;
  color: #42b983;
  text-decoration:none
}
</style>
