<template>
  <div class="center">
    <ul class="tree-app">
      <tree-item class="item"
            :item="treeData" >
      </tree-item>
    </ul>
  </div>
</template>

<script>
import datas from './datas'
import TreeItem from './TreeItem.vue'

export default {
  name: 'TreeApp',
  components : {TreeItem },
  data () {
    return {
      treeData : datas
    }
  }
}
</script>

<style scoped>


  .center {
    text-align: center;
    display: inline-block;
  }

</style>
