<template>
    <li >
      <div class="item"
        :class="{bold:isFolder}"
        @click="toggle"
        @dblclick="changeFolder">
        {{item.name}}
        <span v-if="isFolder">[{{open === false ? '+' : '-'}}]</span>
      </div>
      <ul v-show="open" v-if="isFolder">
        <tree-item
             v-for="item in item.children"
             :item="item">
        </tree-item>
        <li>
          <span @click="addChildren">+(추가)</span>
        </li>
      </ul>
    </li>
</template>

<script>
export default {
  name: 'TreeItem',
  props: {
    item:Object
  },
  data () {
    return {
        open : false
    }
  },
  computed: {
    isFolder : function(){
      return typeof this.item.children !== 'undefined' && this.item.children.length
    }
  },
  methods : {
    toggle: function () {
        if (this.isFolder) {
            this.open = !this.open
        }
    },
    addChildren: function(){
        this.item.children.push({'name':'추가노드'});
    },
    changeFolder: function(){
        if (this.isFolder) return false;
        this.$set(this.item, 'children', []);
        this.addChildren();
        this.open = true;
    }
  }
}
</script>

<style scoped>

  ul > li {
    text-align: start;
    list-style: square;
  }

  .item {
    cursor: pointer;
  }
  .bold {
    font-weight: bold;
  }
  ul {
    padding-left: 1em;
    line-height: 1.5em;
    list-style-type: dot;
  }
</style>
